/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

html, body {
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    overflow: hidden; /* Prevent scrollbars from appearing */
    
}



